<div class="well">

  <div class="row">
    <div class="col-xs-5">
      <h4><%= book.title %></small></h4>
    </div>
    <div class="col-xs-5">
      
      <%= form_for order_item, remote: true do |f| %>
      <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency book.price %></span></h4>
        <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          <div class="input-group-btn">
            <%= f.hidden_field :book_id, value: book.id %>
            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
			<%= link_to "Delete", book, { data: { confirm: "Are you sure you wish to delete this book? '#{book.title}' from the list?" }, method: :destroy, remote: true, class: "btn btn-danger" } %>
          </div>
        </div>
      <% end %>
    </div>
    
  </div>
</div>